@charset "UTF-8";

body{
	margin: 0px;
}

h1{
    margin: 0px;
    font-family: broadsheet,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    color: #FFFFFF;
}

h2{
	margin: 0px 0px 0px 0px;
	font-family: broadsheet,serif;
	font-weight: 400;
	font-style: normal;
	font-size: 45px;

}

h3{
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 10px;
    font-family: broadsheet,serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
    float: left;
}

p {
    margin: 0px;
    color: #FFFFFF;
    background-color: #555555;
    width: 700px;
    padding: 20px;
    border: 0px solid #4F6A8E;
    border-radius: 0px 0px 10px 10px;
    top: auto;
    float: left;
}
.parallaxintro{
    width: 100%;
    height: 400px;
    background-image: url(imgs/background/cover.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.lyrics{
	background-color: #555555;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 150px;
}




.song {
    width: 100%;
    height: 400px;
    background-image: url(imgs/background/paper_song.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.titleone{
    background-color: #555555;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 150px;
}

.parallaxone{
    width: 100%;
    height: 400px;
    background-image: url(imgs/background/verseone_bg.jpg);
    background-size: cover;
	background-attachment: fixed;
}

.titletwo{
    background-color: #555555;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: 150px;
    float: none;
}

.parallaxtwo{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url(imgs/background/chorus.jpg);
	background-attachment: fixed;
}

.titlethree{
	background-color: #555555;
	background-attachment: fixed;
	color: white; 
	width: 100%;
	height: 150px;
}

.parallaxthree{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url(imgs/background/bg_option3.jpg);
    background-attachment: fixed;
}

.titlefour{
	background-color: #555555;
	background-attachment: fixed;
	color: white; 
	width: 100%;
	height: 150px;
}

.parallaxfour{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url(imgs/background/watercolor_outro.jpg);
    background-attachment: fixed;
}

.titlefive{
	background-color: #555555;
	background-attachment: fixed;
	color: white; 
	width: 100%;
	height: 150px;
}

.parallaxfinal{
	width: 100%;
    height: 400px;
    background-image: url(imgs/background/cover.jpg);
    background-attachment: fixed;
    background-size: cover;
}
img {
    float: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

@media (max-width: 1024px){
	body{
		width: 1024px;
		height: 2500px;
	}
	
	.parallaxintro{
		height: 600px;
	}
	.lyrics{
		height: 100px;
	}
	
	.song{
		height: 600px;
	}
	
	.titleone{
		height: 100px;
	}
	
	.parallaxone{
		height: 600px;
	}
	
	.titletwo{
		height: 100px;
	}
	
	.parallaxtwo{
		height: 600px;
	}
	
	.titlethree{
		height: 100px;
	}
	
	.parallaxthree{
		height: 600px;
	}
	
	.titlefour{
		height: 100px;
	}
	
	.parallaxfour{
		height: 600px;
	}
	
	.titlefive{
		height: 100px;
	}
	
	.parallaxfinal{
		height: 600px;
	}
		
}
